body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.form-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-container input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-container button:hover {
  background-color: #45a049;
}
.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.edit-btn {
  background-color: #008cba;
  color: white;
}
.edit-btn:hover {
  background-color: #007b9e;
}
.delete-btn {
  background-color: #f44336;
  color: white;
}
.delete-btn:hover {
  background-color: #da190b;
}
#editUserForm {
  display: none; /* Oculto por defecto */
}
#updateUserBtn {
  background-color: #008cba;
}
#updateUserBtn:hover {
  background-color: #007b9e;
}
